body {
    font-family: Sans-Serif;
}

#content {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
}

h1 {
    text-align: center;
    padding: 2rem;
    margin: 0;
}

.stack > * + * {
    border-top: solid 1px lightgrey;
}

.stack {
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 3.5rem;
}

.element.sources {
    border-top: solid 1px grey;
}

.as-of {
    border-top: solid 1px grey;
}

.as-of .timestamp {
    margin: 0 auto;
}

.deaths {
    color: #ff3333;
}

.war, .source-label {
    font-weight: bolder;
}
